h6 {
    color: 
 hsl(217, 28%, 15%)
 hsl(218, 28%, 13%)
 hsl(216, 53%, 9%)
 hsl(219, 30%, 18%)
 hsl(176, 68%, 64%)
 hsl(198, 60%, 50%)
 hsl(0, 100%, 63%)
 hsl(0, 0%, 100%)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(217, 28%, 15%);
    color: #ffffff;
    font-size: 14px;

}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
} 

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.menu-logo {
    padding: 20px;
    position: relative;
}

.logo-img {
    width: 90px;
}

.get-more {
    position: absolute;
    right: 10px;
    bottom: 30px;
}

.same {
    color: #ffffff;
    margin-right: 15px;
    font-size: 11px;
    text-decoration: none;
    opacity: 85%;
    transition: all 0.2s ease-in-out;
}

.same:hover {
    text-decoration: underline;
    color: #FFFf;
    opacity: 100%;
}

.introdacion {
    padding: 0 40px;
    text-align: center;
    margin-top: 18px;
    position: relative;
    background-image: url(../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: 175px;
}

.intro-img {
    width: 270px;
    position: relative;
    top: 10px;
}

.head-intro {
    font-size: 22px;
    margin-top: 22px;
    line-height: 140%;
}

.par-intro {
    text-align: center;
    opacity: 80%;
    font-size: 13px;
    font-weight: 400;
    padding: 0 52px;
    margin-bottom: 20px;
}

.bg {
    
    position: relative;
    
    padding-top: 30px;
    background-color: hsl(218, 28%, 13%);    
    text-align: center;
}

.btn-intro {
    border-radius: 100px;
    text-align: center;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 66px;
    background-image: linear-gradient(to right, #4EC6D1, #41AFD0);
    margin: 12px 0 120px 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    
 }
 
 .btn-intro:hover {
    border-radius: 100px;
    text-decoration: none;
    background-image: none;
    background-color: hsl(192, 72%, 79%);

 }

 .propreties {
  padding: 0 20px;
 }

 .img {
     width: 60px;
     margin-bottom: 20px;
 }

 .img-s {
    width: 60px;
    margin-bottom: 20px;
}

 .head-access {
     margin-bottom: 8px;
     
 }

 .par-access {
     font-size: 12px;
     padding: 0 25px;
     opacity: 75%;
      line-height: 145%;
 }

 .prop {
     margin-bottom: 100px;
 }

 .center {
     text-align: left;
     padding: 0 30px;
     margin-bottom: 100px;
 }

 .bgc {
     background-image: url(../images/bg-quotes.png);
     background-repeat: no-repeat;
     height: 50px;
     background-size: 22px;
     background-position-x: 5px;
     background-position-y: 34px;
 }

 .stay {
     width: 270px;
     margin-bottom: 50px;
 }

 .head-stay {
    margin-bottom: 15px;
    font-size: 20px;
    
    font-size: 18px;
}

.par-stay {
    font-size: 12px;
    opacity: 80%;
    line-height: 145%;
    margin-bottom: 15px;
}

.link-stay {
    color: hsl(176, 68%, 64%);
    background-image: url(../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    display: block;
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    border-style: none none solid none;
    margin-bottom: 15px;
    border-bottom-width: 1.8px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    max-width: 117px;
}

.link-stay:hover {
    border-color: #FFF;
    color: #FFF;
    filter: brightness(100);
}

.i-stay {
    
    position: relative;
    top: 3px;
    margin-left: 3px;
    width: 14px;
}



.communtes {
    padding: 0 50px;
    margin-bottom: 280px;
}

.communt {
    background-color: #21293C;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 25px 20px;
    text-align: left;
    box-shadow: 0 0 20px #121820;
}

.comm {
    font-size: 10px;
    font-weight: 400;
    opacity: 80%;
    margin-bottom: 20px;
}

.profil {
    margin-right: 10px;
    width: 26px;
    border-radius: 100%;
    float: left;
}

.name {
    font-size: 10px;
    margin-bottom: 3px;
    font-weight: 400;
}

.job {
    font-size: 7px;
    opacity: 80%;
}

.here {
     padding: 20px 25px 0 25px;
     position: absolute;
     bottom: 660px;
}

.card-contact {
   background-color: #1C2230;
   padding: 30px 25px;
   box-shadow: 0 5px 8px #0f121a;
   border-radius: 5px;
}

.head-contact {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

.par-contact {
    line-height: 145%;
    padding: 0 8px;
    font-size: 12px;
    opacity: 80%;
    margin-bottom: 25px;
    
}

input {
    border-radius: 50px;
     font-size: 10px;
    box-sizing: border-box;
    outline-style: none;
    padding: 13px 20px;
    border: 0;
    display: block;
    outline-color: #1C2230;
    width: 100%;
    color: #1C2230;

}

::-webkit-input-placeholder{
    color: #dfd9d9;
}

.btn-form {
    width: 100%;
    border-radius: 100px;
    text-align: center;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 66px;
    background-image: linear-gradient(to right, #4EC6D1, #41AFD0);
    margin: 20px 0 5px 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn-form:hover {
     
    border-radius: 100px;
    text-decoration: none;
    background-image: none;
    background-color: hsl(192, 72%, 79%);
 }

 .bottom-section {
     background-color: hsl(216, 53%, 9%);
     padding: 200px 30px 30px 30px;
     text-align: left;
 }

 .btn-logo {
     width: 150px;
     margin-bottom: 30px;
 }

 .about-us {
      margin-bottom: 60px;
 }

 .location-p {
     margin-bottom: 10px;
 }

 .location-e {
    margin-bottom: 10px;
}

.location-l {
    margin-bottom: 10px;
}

 .i-location-1 {
     margin-bottom: 20px;
     width: 13px;
     float: left;
     margin-right: 20px;
     margin-top: 3px;
 }

 .i-location-2 {
    width: 12px;
    float: left;
    margin-right: 20px;
    margin-top: 3px;
}


.i-location-3 {
    width: 18px;
    float: left;
    margin-right: 20px;
    margin-top: 4px;
}

.par-location {
    padding-bottom: 3px;
    line-height: 145%;
    padding: 0 8px;
    font-size: 11px;
    line-height: 145%;
    opacity: 90%;
    margin-bottom: 25px;
}

.help {
    display: block;
    color: #FFF;
    text-decoration: none;
    margin-bottom: 12px;
    font-size: 11px;
    opacity: 85%;
}

.space {
    margin-top: 30px;
    margin-bottom: 60px;
}

.help:hover {
    text-decoration: underline;
    color: #FFFf;
    opacity: 100%;
}

.her {
    display: none;
}

.socail-menu {
    text-align: center;
    margin-bottom: 20px;
}

.media {
    margin-right: 8px;
    color: #FFF;
    background: none;
    border: 1.5px solid;
    border-radius: 100%;
    padding: 7px 7px 5px 7px;
    font-size: 10px;
    transition: all 0.3s ease-in-out;
}


.media:hover {
    
   transform: translate(0, -5px);
   color:  #41AFD0;
   border-color:  #41AFD0;
   
}

i {
    font-size: 14px;
}

@media screen and (min-width:1000px) {

  

    .menu-logo {
        padding: 40px 40px;
        position: relative;
    }

    .logo-img {
        width: 180px;
    }

    .same {
        font-size: 19px;
        margin-right: 40px;


    }

    .get-more {
        bottom: 70px;
        right: 10px;
    }
    
    .intro-img {
        width: 520px;
    }

    .head-intro {
        font-size: 45px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .par-intro {
        font-size: 18px;
        width: 60%;
        margin: auto;
        margin-top: 0;
        padding: 0 120px;
        margin-bottom: 30px;
    }

    .introdacion {
        background: none;
        width: 60%;
        margin: auto;
        
    }

    
    .btn-intro {
        font-size: 18px;
        padding: 12px 130px;
        margin-bottom: 200px;
    }

    .bg {
        background: none;
        background-image: url(../images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        position: relative;
        padding-top: 50px;
        bottom: 0;
    }


    .propreties {
        padding: 0 20px;
       }
      
       .img {
           width: 100px;
           margin-bottom: 20px;
       }

       .img-s {
        width:77px;
        margin-bottom: 20px;
    }
      
       .head-access {
           margin-bottom: 8px;
           font-size: 20px;
       }
      
       .par-access {
           font-size: 15px;
           padding: 0 25px;
           opacity: 75%;
            line-height: 145%;
       }
      
       .prop {
           width: 35%;
           margin: 0 auto 100px auto;
           
       }

       .right {
           display: flex;
       }
      
       .left{
        display: flex;
    }
   
    .bgd {
        background-color: hsl(218, 28%, 13%);
    }
 

    .stay {
        width: 500px;
        margin-right: 60px;
        margin-top: 0;
        float: left;
    }

    .div {
        display: inline-block;
        width: 200px;
    }


    .center {
        margin-bottom: 100px;
        padding: 100px;
    }

    .head-stay {
        padding-right: 100px;
        font-size: 45px;
        margin-top: 80px;
    }

    .par-stay {
        font-size: 18px;
    }

    .link-stay {
        font-size: 17px;
        margin-right: 0;
        max-width: 175px;
        background-position-x: 157px;
    }
 
    .communtes {
        padding: 0 50px 0 120px;
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-bottom: 200px;
    }

    .communt {
        padding: 35px 30px;
        width: 35%;
        margin-right: 30px;
        margin-bottom: 200px;
    }

    .comm {
        font-size: 14px;
    }
   
    .profil {
        width: 35px;
    }

    .name {
        font-size: 14px;
    }

    .job {
        font-size: 12px;
    }

    .bgg {
        background-image: url(../images/bg-quotes.png);
        background-repeat: no-repeat;
        height: 25px;
        background-position-x: 125px;
        background-size: 40px;
        
    }

    .bgc {
        background: no-repeat;

    }

    .here {
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
        bottom: 350px;
        
    }

    .card-contact {
        padding: 30px 50px;
    }

    .head-contact {
        font-size: 23px;
        
    }

    .par-contact {
        font-size: 15px;
        padding: 0 50px;
    }

    input {
        font-size: 14px;
        width: 70%;
        display: inline-block;
        margin-right:20px ;
    }

    form {
        text-align: left;
    }

    .btn-form {
        display: inline-block;
        width: 27%;
        font-size: 11px;
        padding: 12px;
    }

    .bottom-section {
        padding: 170px 80px 60px 60px;
        
    }

    .btn-logo {
     width: 200px;
    }

    .location-l {
       width: 32%;
    }

    .i-location-1 {
        width: 18px;
    }
    
    .par-location {
        font-size: 14px;
    }

    .location-p {
        width: 32%;
        position: absolute;
        position: absolute;
        top: 93.5%;
        right: 30%;
     }
 
     .i-location-2 {
         width: 16px;
     }

     .location-e {
        position: absolute;
        top: 94.8%;
        right: 30%;
        width: 32%;
     }
 
     .i-location-3 {
         width: 20px;
     }

     .help {
        font-size: 16px;
     }

     .learn-more {
        position: absolute;
        top: 93.5%;
        right: 35%;
     }

     .space {
        position: absolute;
        top: 93.5%;
        right: 22%;
        margin-top: 0;
     }

     .socail-menu {
        position: absolute;
        top: 93.5%;
        right: 5%;
     }

     .fa-facebook {
         padding-right: 2px;
     }

}